html {
    margin: 0;
}

span {
    display: block;
}

.canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}

.btn {
    width: 110px;
    height: 110px;
    border: solid black 2px;
    display: inline-block;
}

#grey {
    background: rgb(174, 157, 157);
}

#black {
    background: rgb(0, 0, 0);
}

#blue {
    background: rgb(69, 69, 230);
}

#yellow {
    background: yellow;
}